extends layout

block content
  fieldset
    div(style='position:relative;margin:30px;') 채팅방 생성
    form(action='/room' method='post')
      div: input(name='title' placeholder='방 제목')
      div: input(name='max' type='number' placeholder='인원' min='2' value='5')
      div: input(name='password' type='password' placeholder='비밀번호 입력' id='password')
      div: button(type='submit') 생성
