* { box-sizing: border-box; }
.mine { text-align: right; }
.system { text-align: center; }
.mine img, .other img {
  max-width: 300px;
  display: inline-block;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 2px 5px;
}

/* profile 넣을 공간*/
.other img.rounded-circle, .mine img.rounded-circle{
    height: 40px;
    width: 40px;
    border:1px solid #ffffff;
    margin-top: 5px;
}
/*닉네임*/
.mine > div, .other > div{
  font-size: 12px;
  margin-top: 5px;
}

.chat_wrap1 {
  position:relative;
}

.mine .chat_wrap1 > span {
  position:absolute;
  bottom: 0;
  right: 45px;
  display:inline-block;
  text-align: right;
}

.other .chat_wrap1 > span {
  position:absolute;
  bottom: 0;
  left: 45px;
  display:inline-block;
  text-align: left;
}

.chat_wrap1 > img {
  margin: 0;
  padding: 0;
}

.chat_wrap2 {
  position:relative;
  padding: 2px 5px;
  max-width: 300px;
  font-size: 15px;
  display: inline-block;
}

.chat_wrap2::after {
  content:'';
  display:block;
  clear: both;
}

.chat_wrap2 div {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 2px 5px;
  max-width: 300px;
  font-size: 15px;
  display: inline-block;
}

.mine .chat_wrap2 div, .mine .chat_wrap2 img, .mine .chat_wrap2 span {
  float: right;
}

.other .chat_wrap2 div, .other .chat_wrap2 img, .other .chat_wrap2 span {
  float: left;
}

.mine .chat_wrap2 span {
  font-size: 11px;
  position: absolute;
  bottom:2px;
  left:-50px;
}

.other .chat_wrap2 span {
  font-size: 11px;
  position: absolute;
  bottom:2px;
  right:-50px;
}

.mine .chat_wrap2 iframe, .other .chat_wrap2 iframe{
  height: 40vh;
  width: 50vw;
  display: inline-block;
}

#exit-btn { position: absolute; top: 20px; right: 20px; }
#chat-list { height: 500px; overflow: auto; padding: 5px; }
#chat-form { text-align: right;}
label[for='gif'], #chat, #chat-form [type='submit'] {
  display: inline-block;
  height: 30px;
  vertical-align: top;
}
label[for='gif'] { cursor: pointer; padding: 5px; }
#gif { display: none; }

label[for='mp4'], #chat, #chat-form [type='submit'] {
  display: inline-block;
  height: 30px;
  vertical-align: top;
}
label[for='mp4'] { cursor: pointer; padding: 5px; }
#mp4 { display: none; }


#border {
  text-align: center;
  border: 1px solid silver;
  border-collapse: collapse;
}

/*채팅방 생성*/
#submit{ 
  width: 127px; 
  height: 48px; 
  text-align: center; 
  border: none; 
  margin-top: 20px; 
  cursor: pointer; 
} 
#submit:hover{ 
  color: #fff; 
  background-color: #216282; 
  opacity: 0.9; 
} 
.modal-body label {
margin-top: 20px; margin-left:5px;
}
/* #cancel { 
  width: 127px; height: 48px; 
  text-align: center; 
  border: none; 
  margin-top: 20px; 
  cursor: pointer; 
} 
#cancel:hover{ 
  color: #fff; 
  background-color: #216282; 
  opacity: 0.9; 
} */

/* .modal { 
  position: fixed; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0; 
  visibility: hidden; 
  transform: scale(1.1); 
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
} 
.modal-content { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: white; 
  padding: 1rem 1.5rem; 
  width: 500px; 
  height: 350px; 
  border-radius: 0.5rem; 
}  */
.close-button { 
  float: right; 
  width: 1.5rem; 
  line-height: 1.5rem; 
  text-align: center; 
  cursor: pointer; 
  border-radius: 0.25rem; 
  background-color: lightgray; 
} 
.close-button:hover { 
  background-color: darkgray; 
} 
/* .show-modal { 
  opacity: 1; 
  visibility: visible; 
  transform: scale(1.0); 
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
}  */


/*채팅방 생성시 이미지 업로드 css*/
.filebox .upload-display { 
  /* 이미지가 표시될 지역 */ 
  margin-bottom: 5px; 
}
@media(min-width: 768px) { .filebox .upload-display { 
  display: inline-block; margin-right: 5px; margin-bottom: 0; 
} } 
.filebox .upload-thumb-wrap {
  /* 추가될 이미지를 감싸는 요소 */ 
  display: inline-block; 
  width: 50%;
  padding: 2px; 
  vertical-align: middle; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  background-color: #fff; 
} 
.filebox .upload-display img {
  /* 추가될 이미지 */ 
  display: block; 
  max-width: 100%; 
  width: 100% \9; 
  height: auto; 
}
.filebox label { 
  display: inline-block; 
  padding: .5em .75em; 
  color: #999; 
  font-size: inherit; 
  line-height: normal; 
  vertical-align: middle; 
  background-color: #fdfdfd; 
  cursor: pointer; 
  border: 1px solid #ebebeb; 
  border-bottom-color: #e2e2e2; 
  border-radius: .25em;
  margin: 1px;
  margin-left: 10px;
} 
.filebox input[type="file"] {
   /* 파일 필드 숨기기 */ 
   position: absolute; 
   width: 1px; 
   height: 1px; 
   padding: 0; 
   margin: -1px; 
   overflow: hidden; 
   clip:rect(0,0,0,0); 
   border: 0; 
  }

.filebox input[type="file"] {
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip:rect(0,0,0,0); 
  border: 0; 
} 
.filebox label { 
  display: inline-block;
  padding: .5em .75em; 
  color: #999; 
  font-size: inherit; 
  line-height: normal; 
  vertical-align: middle; 
  background-color: #fdfdfd; 
  cursor: pointer; 
  border: 1px solid #ebebeb; 
  border-bottom-color: #e2e2e2; 
  border-radius: .25em; 
} 
/* named upload */ 
.filebox .upload-name { 
  display: inline-block; 
  padding: .5em .75em; 
  /* label의 패딩값과 일치 */ 
  font-size: inherit; 
  font-family: inherit; 
  line-height: normal; 
  vertical-align: middle; 
  background-color: #f5f5f5; 
  border: 1px solid #ebebeb; 
  border-bottom-color: #e2e2e2; 
  border-radius: .25em; 
  -webkit-appearance: none; 
  /* 네이티브 외형 감추기 */ 
  -moz-appearance: none; 
  appearance: none; 
}




